:root {
  --white: #fff;
  --body: #fff7da;
  --searchclr: #a9caf0;
  --yellowhdr: #ffd63c;
  --black: #000000;
  --white: #ffffff;
  --blueline: #3c5aa6;
  --gelo: #849ebc;
  --grama: #55936c;
  --lutador: #5e646a;
  --veneno: #836e9b;
  --homehover: #ddb834;
  --gelohover: #6a7e96;
  --gramahover: #467958;
  --lutadorhover: #4b5055;
  --venenohover: #68577a;
  --cardgrama: #a9f0e2;
  --backgrama: #3ca663;
  --backlutador: #2f374d;
  --cardlutador: #777f87;
  --backveneno: #3f377d;
  --cardveneno: #966fc5;
}

header input {
  background-color: var(--searchclr);
}

.searchbar {
  background-color: var(--searchclr);
}

body {
  background-color: var(--blueline);
}

.types {
  text-align: center;
  margin: 10px 0 30px;
  color: var(--white);
  background-color: var(--gelo);
  padding: 20px;
}

/* cards pro js */

#pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 260px;
  background: var(--searchclr);
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.poster {
  width: 150px;
}

.tipos {
  margin: 8px 0;
}

.tag {
  padding: 5px 12px;
  border-radius: 999px;
  color: var(--white);
  font-size: 12px;
  margin: 0 4px;
}

.habilities {
  border-top: 3px solid var(--blueline);
  margin: 10px 0;
  padding: 10px 0;
}

/* cores dos tipos */
.grass {
  background: #4caf50;
}
.poison {
  background: #9c27b0;
}
.fire {
  background: #f44336;
}
.water {
  background: #2196f3;
}
.ice {
  background: #03a9f4;
}
.fighting {
  background: #d32f2f;
}
.psychic {
  background-color: #670e94;
}
.bug {
  background-color: #b8f870;
}
.dark {
  background-color: #181e31;
}
.ground {
  background-color: #543b0e;
}
.flying {
  background-color: #e2dee8;
  color: var(--black);
}

/* botões */

.title {
  text-align: center;
  margin: 10px 0 30px;
  color: var(--white);
  background-color: var(--gelo);
  padding: 20px;
}
