@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&#39");
* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

/* header */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #ffd63c;
  gap: 100px;
}

.searchbar {
  background-color: #a9caf0;
  padding: 8px;
  gap: 100px;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
}

header input {
  border: none;
  background-color: #a9caf0;
  width: 656px;
}

.icons {
  flex-direction: row;
  display: flex;
  gap: 15px;
  margin-left: 40px;
}

header img {
  width: 375px;
  padding: 20px;
}

/* header */

footer {
    padding: 60px;
    background-color: var(--yellowhdr);
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
}

footer li {
    margin-right: 15px;
    padding: 5px;
    width: 175px;
    border-radius: 10px;
}

footer a:hover {
    color: var(--blueline);
    transition: color 0.4s;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

.cntct h1 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
}

.cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cont1,
.cont2 {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.contact h6 {
    font-size: 14px;
}

.contact {
    margin-top: 20px;
}

.cats h2,
.sercli h2 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
}

.catser {
    display: flex;
    gap: 30px;
}

.cpry {
    text-align: center;
    border-top: 4px solid var(--blueline);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 10px;
}
