@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&#39");

:root {
    --white: #fff;
    --body: #fff7da;
    --searchclr: #A9CAF0;
    --yellowhdr: #ffd63c;
    --black: #000000;
    --white: #ffffff;
    --blueline: #3c5aa6;
    --gelo: #849ebc;
    --grama: #55936c;
    --lutador: #5e646a;
    --veneno: #836e9b;
    --homehover: #ddb834;
    --gelohover: #6a7e96;
    --gramahover: #467958;
    --lutadorhover: #4b5055;
    --venenohover: #68577a;
    --cardgrama: #a9f0e2;
    --backgrama: #3ca663;
    --backlutador: #2f374d;
    --cardlutador: #777f87;
    --backveneno: #3f377d;
    --cardveneno: #966fc5;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

/* header */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: var(--yellowhdr);
  gap: 100px;
}

.searchbar {
  background-color: var(--searchclr);
  padding: 8px;
  gap: 100px;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
}

header input {
  border: none;
  background-color: var(--searchclr);
  width: 656px;
}

.icons {
  flex-direction: row;
  display: flex;
  gap: 15px;
  margin-left: 40px;
}

header img {
  width: 375px;
  padding: 20px;
}

/* header */

footer {
    padding: 60px;
    background-color: var(--yellowhdr);
    font-size: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
}

footer li {
    margin-right: 15px;
    padding: 5px;
    width: 175px;
    border-radius: 10px;
}

footer a:hover {
    color: var(--blueline);
    transition: color 0.4s;
}

footer a {
    color: var(--black);
    text-decoration: none;
    font-size: 18px;
}

.cntct h1 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
    font-size: 35px;
}

.cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cont1,
.cont2 {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.contact h6 {
    font-size: 14px;
}

.contact {
    margin-top: 20px;
}

.cats h2,
.sercli h2 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
    font-size: 25px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
}

.catser {
    display: flex;
    gap: 30px;
}

.cpry {
    text-align: center;
    border-top: 4px solid var(--blueline);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 10px;
}

.buttons li.gelo a {
    background-color: var(--gelo);
}
.buttons li.gelo a:hover {
    background-color: var(--gelohover);
}
.buttons li.grama a {
    background-color: var(--grama);
}
.buttons li.grama a:hover {
    background-color: var(--gramahover);
}
.buttons li.home a:hover {
    background-color: var(--homehover);
}
.buttons li.lutador a {
    background-color: var(--lutador);
}
.buttons li.lutador a:hover {
    background-color: var(--lutadorhover);
}
.buttons li.veneno a {
    background-color: var(--veneno);
}
.buttons li.veneno a:hover {
    background-color: var(--venenohover);
}

.buttons {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttons ul {
  gap: 25px;
  list-style: none;
  background-color: var(--blueline);
  padding: 20px 0;
  margin: 0;
}

/* Estilo dos botões */
.buttons li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  background-color: var(--yellowhdr); 
  padding: 22px 45px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
}