header input {
  border: none;
  background-color: #777F87;
  width: 656px;
}

.searchbar {
  background-color: #777F87;
  padding: 8px;
  gap: 100px;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
  color:white
  
}

input::placeholder{
    color:white
}