:root {
    --white: #fff;
    --body: #fff7da;
    --searchclr: #A9CAF0;
    --yellowhdr: #ffd63c;
    --black: #000000;
    --white: #ffffff;
    --blueline: #3c5aa6;
    --gelo: #849ebc;
    --grama: #55936c;
    --lutador: #5e646a;
    --veneno: #836e9b;
    --homehover: #ddb834;
    --gelohover: #6a7e96;
    --gramahover: #467958;
    --lutadorhover: #4b5055;
    --venenohover: #68577a;
    --cardgrama: #a9f0e2;
    --backgrama: #3ca663;
    --backlutador: #2f374d;
    --cardlutador: #777f87;
    --backveneno: #3f377d;
    --cardveneno: #966fc5;
}
body {
    background-color: var(--backveneno);
}

.types {
    text-align: center;
    margin: 10px 0 30px;
    color: var(--white);
    background-color: var(--veneno);
    padding: 20px;
}

#pokemons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.card {
  width: 260px;
  background: var(--cardveneno);
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  margin: 10px;
}

.poster {
  width: 150px;
}

.tipos {
  margin: 8px 0;
}

.tag {
  padding: 5px 12px;
  border-radius: 999px;
  color: var(--white);
  font-size: 12px;
  margin: 0 4px;
}








